In [26]:
import pandas as pd
import math

# Teste A/B

In [3]:
pd.read_csv('dados_sexto_dia/ab_data.csv')

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [4]:
dados = pd.read_csv('dados_sexto_dia/ab_data.csv')

## Total de dados coletados

In [16]:
dados['landing_page'].value_counts(normalize=True)

old_page    0.5
new_page    0.5
Name: landing_page, dtype: float64

In [18]:
dados['landing_page'].value_counts()

old_page    147239
new_page    147239
Name: landing_page, dtype: int64

## Vendas convertidas na página antiga

In [21]:
old_page = dados[dados['landing_page'] == 'old_page']['converted']
old_page.value_counts(normalize=True)

0.12047759085568362

In [24]:
old_page = dados[dados['landing_page'] == 'old_page']['converted']
old_page.value_counts()

0    129500
1     17739
Name: converted, dtype: int64

## Vendas convertidas na página nova

In [15]:
new_page = dados[dados['landing_page'] == 'new_page']['converted']
new_page.value_counts(normalize=True)

0    0.881159
1    0.118841
Name: converted, dtype: float64

In [20]:
new_page = dados[dados['landing_page'] == 'new_page']['converted']
new_page.value_counts()

0    129741
1     17498
Name: converted, dtype: int64

# Aplicação de teste A/B

In [45]:
new_page.value_counts()[1] - old_page.value_counts()[1]

-241

Nota-se que ouve uma queda na quantidade de conversões da página antiga para a página nova.

O teste de hipótese realizado, verifica se essa diferença possue valor estatístico significativo.

A hipótese nula afirma que quantidade de conversões na página antiga é igual a quantidade de conversões na página nova.

In [46]:
def normal_cdf(x:float,mu:float=0,sigma:float=1):
    return (1+math.erf((x-mu)/math.sqrt(2)/sigma))/2
def normal_probality_below(x:float,mu:float=0,sigma:float=1):
    return normal_cdf(x,mu,sigma)
def normal_probality_above(lo:float,mu:float=0,sigma:float=1):
    return 1-normal_cdf(lo,mu,sigma)
def tow_sided_p_value(x:float,mu:float=0,sigma:float=1):
    if x>=mu:
        return 2*normal_probality_above(x,mu,sigma)
    else:
        return 2*normal_probality_below(x,mu,sigma)

In [47]:
def estimated_parameters(N,n):
    p = n/N
    sigma = math.sqrt(p*(1-p)/N)
    return p, sigma
def a_b_test_statistic(N_a,n_a,N_b,n_b):
    p_a,sigma_a = estimated_parameters(N_a,n_a)
    p_b,sigma_b = estimated_parameters(N_b,n_b)
    return (p_b-p_a)/math.sqrt(sigma_a**2+sigma_b**2)

In [58]:
N_a = dados['landing_page'].value_counts()[0]  # old_page
print(f'N_a = {N_a} (Quantidade de vizualições na página antiga)')
N_b = dados['landing_page'].value_counts()[1]  # new_page
print(f'N_b = {N_b} (Quantidade de vizualições na página nova)')
n_a = old_page.value_counts()[1]
print(f'n_a = {n_a} (Quantidade de convertidos na página antiga)')
n_b = new_page.value_counts()[1]
print(f'n_b = {n_b} (Quantidade de convertidos na página nova)')

N_a = 147239 (Quantidade de vizualições na página antiga)
N_b = 147239 (Quantidade de vizualições na página nova)
n_a = 17739 (Quantidade de convertidos na página antiga)
n_b = 17498 (Quantidade de convertidos na página nova)

In [49]:
z = a_b_test_statistic(N_a,n_a,N_b,n_b)
z

-1.368338490064514

In [50]:
tow_sided_p_value(z)

0.17120614808294943

### CONCLUSÃO
Considerando valor de significancia igual a 5%, aceita-se a hipótese nula afirmando que a diferença não possui valor estatístico significativo.